.container{
    display: flex;
}


.box-1{
    height: 300px;
    width: 500px;
    background-color: black;
}



.box-2{
    height: 400px;
    width: 200 px;
    background-color: rgb(167, 224, 67);
}


