*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }





body{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(221, 216, 216);
}




.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: white; /* White background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px; 

}


.grid-container{
display: grid;
grid-template-columns: auto;
gap: 10px;
padding: 10px;
}


h1{
    color: rgb(6, 6, 6);
    font-size: 200px;
    text-align: center;
    padding-bottom: 5cm;
}


